body {
  background-color: #fbea23 !important;
  font-family: "Open Sans";
}

.app-logo {
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

#figurinha {
  max-width: 50vh;
  margin-top: 7vh;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-text p {
  font-size: 1em;
  text-align: center;
}

.main-title {
  font-size: 1.2em;
  text-align: center;
  margin-top: 80px;
  font-weight: 600;
}

@media screen and (min-width: 601px) {
}

@media screen and (max-width: 600px) {
  #figurinha {
    max-width: 90%;
  }
  .main-title {
    font-size: 1em;
  }
}
