html {
  overflow-y:scroll;
}

body {
  background-color: #fbea23 !important;
  font-family: "Open Sans";
}

body a {
  text-decoration: none;
}

.figure-caption {
  font-size: 1.1em !important;
}

figcaption {
  color: #010306 !important;
  text-align: center;
  margin-top: 1em;
  font-family: "Open sans";
}

.app-logo {
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#figurinha {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 40vh;
}


.help-text p {
  font-size: 0.8em;
  text-align: center;
}

.main-title {
  font-size: 1.2em;
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  margin-bottom: -30px;
  margin-left: 1em;
  margin-right: 1em;
}

.main-text p {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.2em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main-text h2 {
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.secondary-title h2 {
  text-align: center;
  font-size: 1.2em;
  margin-top: 40px;
}

.button {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #4dad36;
  max-width: 300px;
  height: 70px;
  padding-top: 2em;
  border-radius: 15px;
  font-size: 1.3em;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.bold {
  font-weight: 600;
}


.close {
  font-size: 1.5rem;
}

.col-12 img {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.item img:hover {
  opacity: 0.85;
}

.portfolio-item .item{
	margin-bottom:10px;
}

.spacement {
  height: 40px;
}

.figurinha-template {
  width: 100%;
}

.figure-cta {
  margin-bottom: 3em;
  font-size: 1.2em !important;
  padding: 1em;
  margin-left: 20%;
  margin-right: 20%;
}

.bg-green-br {
  background-color: #73ad43;
}

.cta-title {
  font-size: 1.8em;
  line-height: 1.2em;
}


@media screen and (max-width: 600px) {
  #figurinha {
    max-width: 90%;
  }
  .main-title {
    font-size: 1em;
  }
  .main-text p {
    font-size: 1.3em;
    font-weight: 300;
    margin: 1em;
    width: inherit;
  }
  .help-text p {
    font-size: 1em;
  }
  .button {
    max-width: 300px;
    font-size: 1.3em;
    padding-top: 2em;
  }
  .figurinha-template {
    max-width: 100%;
  }
  .figure-cta {
    margin-right: inherit;
    margin-left: inherit;
  }
}
